.header {
    overflow                    : hidden;
    background-color            : #464040;
    padding                     : 30px 10px;}
header a {
    float                       : left;
    color                       : white;
    text-align                  : center;
    padding                     : 15px;
    text-decoration             : none;
    font-size                   : 18px;
    line-height                 : 30px;
    border-radius               : 6px;}
header a:hover {
            background-color    : #847979;
            color               : white;}
.header__right {
    float                       : right;
    font-family                 : helvetica;
    background-color            : #018383;
    border-radius               : 6px;border:2px;}
.header__right a.active {
    background-color            : black;
    color                       : white;}
.topnav {
    overflow                    : hidden;
    background-color            : #018383;}
.topnav a {
    float                       : left;
    display                     : block;
    color                       : white;
    text-align                  : center;
    padding                     : 20px 30px;
    text-decoration             : none;
    font-size                   : 16px;
    font-family                 : rockwell;}
.topnav a:hover {
    background-color            : #529B7B;
    color                       : white;}
.topnav a.active {
    background-color            : black;
    color                       : white;}
.topnav input[type=text]{
    float                       : right;
    padding                     : 10px;
    border                      : none;
    margin-top                  : 10px;
    margin-right                : 20px;
    font-size                   : 15px;}
.bttn1 {
    background-color            : grey;
    font-family                 : gill sans;
    float                       : right;border: none;
    color                       : white;
    padding                     : 10px 30px;
    font-size                   : 18px;
    cursor                      : pointer;}
.bttn1:hover {
    background-color            : black;
    color                       : white;}
hr.line1 {
    border                      : 1px solid black;}
hr.line2{
    border                      : 2px solid black;}