th {
  text-align: left;
  padding: 15px;
  font-size: 18px;
   color:  #082b2c ;

   font-family: Arial, Helvetica, sans-serif;
   background-color: #6bbda2;
   color: white;
}
td {
  text-align: left;
  padding: 8px;
  font-size: 18px;
   color:  #0a4042 ;

   font-family: Arial, Helvetica, sans-serif;
}

.btn-primary4 {
  background-color: #37a886;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 1;
  transition: 0.3s;
}

.btn-primary4:hover {opacity: 0.6}
.btn-primary5 {
  background-color: #2ca765;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 1;
  transition: 0.3s;
}

.btn-primary5:hover {opacity: 0.6}
.btn-primary6 {
  background-color: #3ec065;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 1;
  transition: 0.3s;
}

.btn-primary6:hover {opacity: 0.6}


.btn{
  border:none;
  color:white;
  padding: 22px 45px;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
  
  
}
#box5 {
    box-shadow: 5px 5px rgb(31, 174, 209), -5px -10px rgb(25, 124, 190);
  padding: 60px 60px;
  margin-right:9%;
  margin-left: 9%;
  
}
table{
border-color: #58dbdd;
width: 100%;
  
}



 h1 { 
  text-align: center;
  display: block;

  font-weight: bold;
  font-size:xx-large;
  color: rgb(32, 68, 68);

}
.bac {
  background-image: url(../pictures/p9.jpg);
  background-size: auto; 
 }