* {
    font-family: sans-serif; /* Change your font family */
  }
  
  h1{
    color:rgb(0, 0, 0) ;
    font-size: 28px;
  }

  .table-bordered {
    border-collapse: collapse;
    margin: 25px 0px;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    word-wrap: break-word;
    table-layout: fixed;


  }
  
  .table-bordered th {
    background-color: #0b0c55;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
    position: sticky;
  }
  
  .table-bordered th,td {


    max-width: 63px;
    }

      
 #ac {


    min-width: 202px;
   
    }


    #ac{


     background-color: rgb(0, 0, 0);
     text-align: center;
      }


  .table-bordered th,
  .table-bordered td {
    padding: 12px 11.5px;
  }
  
  .table-bordered  tbody tr {
    border-bottom: 1px solid #921414;
  }
  
  .table-bordered tbody tr:nth-of-type(odd) {
    background-color:rgba(127, 191, 185, 0.6);
    
  }

  .table-bordered tbody tr:nth-of-type(even) {
    background-color: rgba(89, 105, 135, 0.7) ;
   
  }

  .table-bordered {
    border: 4px solid #eceeef;
  }

  .table-bordered th,
.table-bordered td {
  border: 3px solid #d5e9e9;
}










  .pagination {
    display: inline-block;
    padding-left: 0;
    margin-top: 0.1rem;
    margin-bottom: 1rem;
    border-radius: .25rem;
    margin-left: 20px;
  }
  
  .pagination > li {
    display: inline;
  }
  
  .pagination > li > a,
  .pagination > li > span {
    position: relative;
    float: left;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.5;
    color: #19439e;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
  }
  
  .pagination > li:first-child > a,
  .pagination > li:first-child > span {
    margin-left: 0;
    border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem;
  }
  
  .pagination > li:last-child > a,
  .pagination > li:last-child > span {
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem;
  }
  
  .pagination > li > a:focus,
  .pagination > li > a:hover,
  .pagination > li > span:focus,
  .pagination > li > span:hover {
    color: #022d6d;
    background-color: #eceeef;
    border-color: #ddd;
  }
  
  .pagination > .active > a,
  .pagination > .active > a:focus,
  .pagination > .active > a:hover,
  .pagination > .active > span,
  .pagination > .active > span:focus,
  .pagination > .active > span:hover {
    z-index: 2;
    color: #fff;
    cursor: default;
    background-color: #19319e;
    border-color: #19389e;
    ;
  }
  
  .pagination > .disabled > span,
  .pagination > .disabled > span:focus,
  .pagination > .disabled > span:hover,
  .pagination > .disabled > a,
  .pagination > .disabled > a:focus,
  .pagination > .disabled > a:hover {
    color: #818a91;
    cursor: not-allowed;
    background-color: #fff;
    border-color: #ddd;
  }
  
  .pagination-lg > li > a,
  .pagination-lg > li > span {
    padding: .75rem 1.5rem;
    font-size: 1.25rem;
    line-height: 1.333333;
  }
  
  .pagination-lg > li:first-child > a,
  .pagination-lg > li:first-child > span {
    border-top-left-radius: .3rem;
    border-bottom-left-radius: .3rem;
  }
  
  .pagination-lg > li:last-child > a,
  .pagination-lg > li:last-child > span {
    border-top-right-radius: .3rem;
    border-bottom-right-radius: .3rem;
  }
  
  .pagination-sm > li > a,
  .pagination-sm > li > span {
    padding: .275rem .75rem;
    font-size: .85rem;
    line-height: 1.5;
  }
  
  .pagination-sm > li:first-child > a,
  .pagination-sm > li:first-child > span {
    border-top-left-radius: .2rem;
    border-bottom-left-radius: .2rem;
  }
  
  .pagination-sm > li:last-child > a,
  .pagination-sm > li:last-child > span {
    border-top-right-radius: .2rem;
    border-bottom-right-radius: .2rem;
  }
  






  .btn {
 
    border: none;
    color: white;
    padding: 10px 9px;
    text-align: center;
    text-decoration: none;
    float:left;
    font-size: 16px;
    margin: 3px 3px;
    cursor: pointer;
    display: block;
  }

  .btn-info {
    background-color: #6e1cb1;
    border-radius: 5px;
    margin-left:10px;
    
  }
  .btn-primary {
    background-color: #207ca7;
    border-radius: 5px;
  }
  .btn-danger {
    background-color: #c5165f;
    border-radius: 5px;
  }

  .btn-info:hover {
    background-color: #a456e4;
    border-radius: 5px;
    
  }
  .btn-primary:hover {
    background-color: #4eb1df;
    border-radius: 5px;
    
  }
  .btn-danger:hover {
    background-color: #f06ea4;
    border-radius: 5px;
  }

  .btn-success{
    position: absolute;
    right: 40px;
    padding: 25px 20px;
    background-color: #29a510;
    border-radius: 70%;
    border: 2px solid rgb(39, 85, 63);
    border-color: #0d3604;
    
  }

  .btn-success:hover{
    position: absolute;
    right: 40px;
    padding: 25px 20px;
    background-color: #7eee68;
    border-radius: 70%;
    border: 2px solid rgb(39, 85, 63);
    border-color: #fafdf9;
    
  }




  .alert {
    padding: 0px;
    margin-bottom: 0px;
    border: 2px solid transparent;
    border-radius: .25rem;
    width:350px;
    text-align: center;
    
    
  }
  .alert-success {
    color: #a50909;
    background-color: #e49cac;
    border-color: #ee093b;

    
  }

  
  .btn-pdf{
    position: absolute;
    right: 45.5%;
    padding: 15px 10px;
    background-color: #a5105a;
    
    border: 2px solid rgb(39, 85, 63);
    border-color: #0d3604;
    
  }

  .btn-pdf:hover{
    position: absolute;
    right: 45.5%;
    padding: 15px 10px;
    background-color: #ee689b;
    ;
    border: 2px solid rgb(39, 85, 63);
    border-color: #fafdf9;
    
  }
 
  input[type=search]{
    border: 3px solid#32e17c;
    height:40px;
    width:300px;
    border-radius:50px;
    padding:0px 10px;
    outline : none;
  }
  input[type=search]:hover{
    border: 3px solid#244d35;
    height:40px;
    width:300px;
    border-radius:50px;
    padding:0px 10px;
    outline : none;
  }

form.searchEvent button{
  border: 3px solid#0e9b46;
    height:30px;
    width:40px;
    border-radius:10px;
    padding:0px 10px;
}


.bckimage{
    background-image: url(../pictures/c1.jpg);
    }
  

    .btn-bk {
        background-color: #0d1c5f;
        border-radius: 20px;
        padding: 15px 30px;
      }

      .btn-bk:hover {
        background-color: #617eff;
        border-radius: 20px;
        padding: 15px 30px;
      }